{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<body style="background: rgba(0, 128, 0, 0.3);">
  <div class="container">
    <div class="row"> 
      <br> <br>
      <h3 class="text-center" style="color: brown; font-weight: bold;">UPDATE PROFILE BIO</h3>
      <br>  <hr> <br>
      <div class="col-md-4"></div>

      <div class="col-md-4">
        {{wtf.quick_form(form)}}
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>  
</body>

{% endblock %}
