{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}



{% block content %}
<body style="background: rgba(0, 128, 0, 0.3);">
<br><br> <br>
<h3 class="text-center" style="color: brown;">view new comments </h2>
  {% for comm in comment[::-1] %}
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">   
        <div class="card-groups">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{comm.author}}</h4>
              <p class="card-text">{{comm.comment}}.</p>
            </div>
            <div class="card-footer bg-transparent border-success"><small class="text-muted">Publish date:{{comm.date_posted.strftime('%Y-%m-%d')}}</small></div>
          </div>
        </div>
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>  

  {% endfor %}
</body>
  {% endblock %}

