{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}

{% block content %}
<div class="jumbotron" style="margin-top:0;">
  <h2 class="text-center" style="color: brown;">WELCOME TO PITCH-APP</h2>
  <p class="text-center">In life, you only have 60 seconds to impress someone and say something meaningful.!!!</p>
</div> 

<body style="background: rgba(0, 128, 0, 0.3);">

  <div class="container">  
    <div class="d-flex justify-content-center row">
      <div class="card-groups">
        <div class="card border-info mb-3 col-md-4" style="max-width: 35rem;">          
          <div class="card-body">
            <h5 class="card-title" style="color: brown; font-weight: bold;">Product Pitch</h5>
            <p class="card-text">What great product manager has the brain of an engineer, the heart of a designer, and the speech of a diplomat.”</p>
            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New Pitch</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="/categories/Product">Read More</a></button>
          </div>
        </div>

        <div class="card border-info mb-3 col-md-4" style="max-width: 35rem;">         
          <div class="card-body">
            <h5 class="card-title" style="color: brown; font-weight: bold;">Adverts Pitch</h5>
            <p class="card-text">“The most powerful element in advertising is the truth.”</p> <br>
            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New Pitch</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="/categories/Adverts">Read More</a></button>
          </div>
        </div>

        <div class="card border-info mb-3 col-md-4" style="max-width: 35rem;">          
          <div class="card-body">
            <h5 class="card-title" style="color: brown; font-weight: bold;">Interview Pitch</h5>
            <p class="card-text">I want to live every moment totally and intensely. Even when I'm giving an interview or talking to people, that's all that I'm thinking about.
              Read more at.</p>
            <button type="button" class="btn btn-outline-primary"><a href="../Interview/">Enter a New Pitch</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="/categories/Interview">Read More</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  {% endblock%}

