<!-- NAVBAR HERE -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">PITCH-APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories/Product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories/Adverts">Adverts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories/Interview">Interview</a>
        </li>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.profile',uname=current_user.author)}}">View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a>
        </li>

        {%endif%}

      </ul>
    </div>
  </nav>  