{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<body style="background: rgba(0, 128, 0, 0.3);">

  <div class="container">
    <div class="row">
      <br> <hr> <br>

      <div class="col-md-3"></div>
            
      <div class="col-md-6"> 
        <h3 class="text-center" style="color: brown;">LEAVE A COMMENT HERE</h3>
        {{ wtf.quick_form(comment_form) }}
      </div>  

      <div class="col-md-3"></div>
    </div>

  </div>

</body>

{% endblock %}